/*@author: Jared James Lloyd Bueno*/
/*CSS: Lisboa*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    height: 10vh;
    width: 100vw;
}

.menu{
    float: right;
    width: 50vw;
}

.menu_links{
    display: block;
    float: left;
    width: 25%;
    margin-left: 12.5%;
    text-align: center;
    border-bottom: 3px solid #000;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-top: 5%;
}

.menu_links:hover{
    background-color: #000;
    color: white;
}

.menu_links:first-child{
    margin-left: 0;
}

.content{
    background-image: url(lisboaplaza.webp);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px;
}

.content *{
    text-align: center;
}

.logo_image{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100px;
    width: 100px;
}

.logo_image:hover{
    box-shadow: 0 0 5px 5px #444;
}

.title{
    text-transform: uppercase;
    text-shadow: 1px 0 20px #444;
}

.subtitle{
    padding-top: 40px;
    width: 50%;
    translate: 50%;
}

.bottom_container{
    margin-top: 300px;
    width: 80%;
    translate: 12%;
}

.bottom_blocks{
    display: inline-block;
    background-color: #ffffff;
    width: 33%;
    padding: 1rem 3rem;
}

.rojo{
    color: red;
}

.grande{
    font-size: 4rem;
}

@media screen and (max-width:800px) {

    body{
        background-image: url(lisboaplaza.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .header{
        height: 20vh;
    }

    .menu{
        width: 100%;
    }

    .menu_links{
        width: 100%;
        margin-left: 0;
        border: none;
    }

    .content{
        background: transparent;
    }

    .logo_image{
        display: none;
    }

    .title{
        font-size: 1.5rem;
    }

    .subtitle{
        font-size: 0.8rem;
        width: 80vw;
        translate: 0;
    }

    .bottom_container{
        margin-top: 60px;
    }

    .bottom_blocks{
        display: block;
        width: 100%;
        font-size: 1rem;
    }

    .grande{
        font-size: 2rem;
    }
}