.banner{
    height: 70vh;
    background-image: url(enunciado\ gym/imagenes/niños.jpg);
    background-size: cover;
    background-position: 40% 0;
    margin-top: 3rem;
    position: relative;
}

.login-wrapper{
    width: 150px;
    height: 50%;
    background-color: var(--orange);
    position: absolute;
    top: 50%;
    translate: 100px -50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.id-input, .submit{
    width: 80px;
    margin: 0.5rem 0;
}

.privacy-policy{
    float: right;
    letter-spacing: normal;
    margin: 0 2rem;
}

.privacy-policy:hover{
    text-decoration: underline;
}

/*Media Queries*/
@media (max-width: 700px){
    .banner{
        background-size: 120rem;
        background-position: 0;
        display: flex;
        justify-content: center;
    }

    .login-wrapper{
        translate: 0 -80%;
        width: 80%;
    }

    .id-input, .submit{
        width: 80px;
    }
}